<div class="container">
<table>
	<thead>
		<tr>
			<td colspan="3" align="center">Team Status</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width: 50%; background-color: rgb(181, 209, 200);" align="center">Team Name</td>
			<td align="center"  style=" background-color: rgb(181, 209, 200);" >Approved by Manger</td>
			<td align="center" style=" background-color: rgb(181, 209, 200);" >Approved by Director</td>
		</tr>
		<tr>
			<td>Team 1</td>
			<td><button (click)="onClickM($event)" [ngClass]="{'red': approved , 'green' : notapproved,'grey' : noaction}"></button></td>
			<td><button (click)="onClickD($event)" [ngClass]="{'red': approved , 'green' : notapproved,'grey' : noaction}"></button></td>
		</tr>
		<tr>
			<td>Team 2</td>
			<td><button (click)="onClickM($event)" [ngClass]="{'red': approved , 'green' : notapproved,'grey' : noaction}"> </button></td>
			<td><button (click)="onClickD($event)" [ngClass]="{'red': approved , 'green' : notapproved,'grey' : noaction}"> </button></td>
		</tr>
    <tr>
			<td>Team 3</td>
			<td><button (click)="onClickM($event)"[ngClass]="{'red': approved , 'green' : notapproved,'grey' : noaction}"> </button></td>
			<td><button (click)="onClickD($event)"[ngClass]="{'red': approved , 'green' : notapproved,'grey' : noaction}"> </button></td>
		</tr>
	</tbody>
</table>
</div>
